version: '2'
services:
  zookeeper3:
    image: zookeeper:5.1.0
    environment:
      - TZ=Asia/Shanghai
      - ZOOKEEPER_SERVER_ID={{ node_id.0 }}
      - ZOOKEEPER_CLIENT_PORT=2181
      - ZOOKEEPER_TICK_TIME=2000
      - ZOOKEEPER_INIT_LIMIT=5
      - ZOOKEEPER_SYNC_LIMIT=2
      - ZOOKEEPER_SERVERS={{ zookeeper_nodes }}
    volumes:
      - /TRS/docker_kafka/zkdata:/var/lib/zookeeper/data
      - /etc/localtime:/etc/localtime
      - /TRS/docker_kafka/zklog:/var/lib/zookeeper/log
      - /TRS/docker_kafka/zksecrets:/etc/zookeeper/secrets
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888
    network_mode: "host"
